
<?php

/**
 * @var \Bss\Schema\Block\Intern $block
 */
$data = $block->getController();
?>
<html>
<body>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-top: 30px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    form{
        margin:auto;
        width: 75%;
        border: 3px solid #0fa7ff;
        padding: 10px;
    }
    form .form-group{
        margin-bottom: 2%;
    }
</style>

<form id="form" action="<?=$data ?>">
    <h1>New Product</h1>
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name" name="name" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Dob</label>
        <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Price" name="dob" required>
    </div>
    <div class="form-group" style="display: grid;">
        <label for="exampleInputPassword1">Gender</label>
        <input list="browsers" name="gender"  required/>
        <datalist id="browsers">
            <option value="Male">
            <option value="Female">
        </datalist>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Address</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Link" name="address" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Email</label>
        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email" name="email" required>
    </div>
    <div class="btu" style="height: 50px;">
        <button type="submit" class="btn btn-primary" style="background-color: yellow;height: 90%;margin-left: 85%">Submit</button>
</form>
</body>
</html>
