<div class="component-wrapper">
    <div class="field" style="margin-bottom: 2%;">
        <label class="label" for="email"><span data-bind="i18n: 'Tạo người dùng mới'"></span></label>
        <div class="form-group" style="width: 50%;margin: auto auto 2%;">
            <label>Name</label>
            <input
                   type="text"
                   class="input-text"
                   data-bind="value: customerDataName" style="width: 50%;margin-left: 6%;">
        </div>
        <div class="form-group" style="width: 50%;margin: auto auto 2%;">
            <label>Price</label>
            <input
                   type="number"
                   class="input-text"
                   data-bind="value: customerDataPrice" style="width: 50%;margin-left:7%;">
        </div>
        <div class="form-group" style="width: 50%;margin: auto auto 2%;">
            <label>Description</label>
            <input
                   type="text"
                   class="input-text"
                   data-bind="value: customerDataDes" style="width: 50%;">
        </div>
    </div>
    <div class="primary">
        <button type="button" class="action action-login secondary" data-bind="click: addNewCustomer">
            <span data-bind="i18n: 'Submit'"></span>
        </button>
    </div>
<div style="display: flex">
    <table class="customer-list" style="width: 20%;background: #eee;margin-top: 10px;" data-bind="foreach: customerName">
        <th style="text-align: center" >Name</th>
        <tr data-bind="text: name" style="text-align: center"></tr>
    </table>
    <table class="customer-list" style="width: 20%;background: #eee;margin-top: 10px;" data-bind="foreach: customerPrice">
        <th style="text-align: center">Price</th>
        <tr data-bind="text: price" style="text-align: center"></tr>
    </table>
    <table class="customer-list" style="width: 20%;background: #eee;margin-top: 10px;" data-bind="foreach: customerDescription">
        <th style="text-align: center">Description</th>
        <tr data-bind="text: description" style="text-align: center"></tr>
    </table>
</div>
</div>
