<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>

<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()) :?>

<div class="box-tocart" style="display: flex">
    <div class="price" style="width: 100%">
        <p style="font-size: xx-large; margin-top: 7%">
    <?php
    echo sprintf('%02.2f', $_product->getFinalPrice() );
    ?> $
        </p>
    </div>
    <div class="fieldset" style="display: flex;width: 90%;">
        <?php if ($block->shouldRenderQuantity()) :?>
        <div class="field qty" style="margin-right: 3%">
            <label class="label" for="qty"><span><?= $block->escapeHtml(__('Qty')) ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       min="0"
                       value="<?= $block->getProductDefaultQty() * 1 ?>"
                       title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        </div>
        <?php endif; ?>
        <div class="actions" style="width: 100%">
            <button type="submit" style="margin-top: 6%;padding: 5% 10% 5% 10%;width: 70%;background-color: #2a2a2a"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" disabled>
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
            <button type="submit" style="margin-top: 6%;padding: 5% 10% 5% 10%;width: 70%;background-color: #007bdb"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" disabled>
                <span>Contact for sale price</span>
            </button>
        </div>
    </div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
