<?php
/**
 * @var \HelloWorld\Routing\Block\Config $block
 */
echo "Config";
try {
     $data=$block->sayHello();
     echo '<pre>';
    echo $data['pageTitle'];
     echo '</pre>';
    echo '<pre>';
    echo $data['pageDes'];
    echo '</pre>';
} catch (\Magento\Framework\Exception\NotFoundException $e) {
    echo "false";
}

?>
