<?php

/**
 * @var \HelloWorld\Routing\Block\Display $block
 */
$data = $block->sayHello();
?>
<html>
<body>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-top: 30px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<table>
    <tr>
        <th>Name</th>
        <th>Dob</th>
        <th>Address</th>
        <th>Description</th>
    </tr>
    <td><?= $data['name'] ?></td>
    <td> <?= $data['dob'] ?></td>
    <td><?= $data['address'] ?></td>
    <td><?= $data['description'] ?></td>
    </tr>
</table>
</body>
</html>
