<?php
/**
* @var \HelloWorld\Routing\Block\KoJs $block
*/
$block->sayHello();
echo"Kojs phtml";
?>
<div id="custom-component" data-bind="scope:'customcomponent'">
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
    {
        "#custom-component": {
            "Magento_Ui/js/core/app": {
               "components": {
                    "customcomponent": {
                        "component": "HelloWorld_Routing/js/kojs"
                    }
                }
            }
        }
    }
    </script>
</div>
