<html>
<body>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-top: 30px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    form {
        margin: auto;
        width: 75%;
        border: 3px solid #0fa7ff;
        padding: 10px;
    }

    form .form-group {
        margin-bottom: 2%;
    }
</style>


<form id="form" data-mage-init='{"widgetjs":{

}}'>
    <h1>New Product</h1>
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name"
               name="name">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Price</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Price" name="price">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Description" name="description">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Link</label>
        <input type="url" class="form-control" id="exampleInputPassword1" placeholder="Link" name="link">
    </div>
    <div class="btu" style="height: 50px;">
        <button type="submit" class="btn btn-primary" style="background-color: yellow;height: 90%;margin-left: 85%">
            Submit
        </button>
    </div>
</form>

<div >
    <table id="table">
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Link</th>
            <th>Action</th>
        </tr>
        <tbody id="list">

        </tbody>


    <div class="prompt-modal-content">
        <p></p>
    </div>

    </table>
</div>



</body>

</html>


