<div class="component-wrapper">
    <div class="field" style="margin-bottom: 2%;">
        <label class="label" for="email"><span data-bind="i18n: 'Add New'"></span></label>

        <div class="form-group" style="width: 50%;margin: auto auto 2%;">
            <label>ID</label>
            <input
                type="number"
                class="input-text"
                data-bind="value: customerDataId" style="width: 50%;margin-left:10%;">
        </div>
        <div class="form-group" style="width: 50%;margin: auto auto 2%;">
            <label>Name</label>
            <input
                   type="text"
                   class="input-text"
                   data-bind="value: customerDataName" style="width: 50%;margin-left: 6%;">
        </div>

        <div class="form-group" style="width: 50%;margin: auto auto 2%;">
            <label>Class</label>
            <input
                   type="text"
                   class="input-text"
                   data-bind="value: customerDataClass" style="width: 50%;margin-left: 7%;">
        </div>
    </div>
    <div class="form-group" style="display: flex">
    <div class="primary" style="margin-left: 35%;">
        <button type="button" class="action action-login secondary" data-bind="click: addNewCustomer">
            <span data-bind="i18n: 'Add'"></span>
        </button>
    </div>
    <div class="primary" style="margin-left: 5%;">
        <button type="button" class="action action-login secondary" data-bind="click: removeList">
            <span data-bind="i18n: 'Remove List'"></span>
        </button>
    </div>
    </div>
<div style="display: flex">
    <table class="customer-list" style="width: 80%;background: #eee;margin-top: 20px;margin-left: 12%;" >
        <thead>
        <tr>
            <th data-bind="i18n: 'Name'"></th>
            <th data-bind="i18n: 'Class'"></th>
            <th data-bind="i18n: 'Action'"></th>
        </tr>
        </thead>
        <tbody data-bind="foreach: customer" >

        <tr >
            <td data-bind="text: id" style="text-align: left;" hidden></td>
            <td data-bind="text: name" style="text-align: left"></td>
            <td data-bind="text: description" style="text-align: left"></td>
            <td>
            <div class="primary" >
                <button type="button" class="action action-login secondary" data-bind="click:  $parent.removeInfor">
                    <span data-bind="i18n: 'Delete'"></span>
                </button>
            </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</div>
